<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.svcetedu.www.csemobileapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoname"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StudentRegistration.StudentRegistration" />
        <activity
            android:name=".StudentRegistration.Student_Login"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
        <activity android:name=".Faculty.Faculty_Regsitration" />
        <activity
            android:name=".StudentRegistration.StudentDash"
            android:label="@string/title_activity_student_dash"
            android:theme="@style/AppTheme.NoActionBar"  />
        <activity
            android:name=".Faculty.FacultyDash"
            android:label="@string/title_activity_faculty_dash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Faculty.Faculty_Login"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".Faculty.CicularPosting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Faculty.CircularDisplay">

        </activity>
        <activity android:name=".StudentRegistration.Syllabus"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
    </application>

</manifest>